.light-mode,
.dark-mode {
	transition: background-color 0.5s ease, color 0.5s ease;
}

.light-mode {
	background-color: white;
	color: black;
}

.dark-mode {
	background-color: black;
	color: white;
}
